## Netflix Recommendation

In [155]:
import pandas as pd
import numpy as np 
import sklearn
pd.options.mode.chained_assignment = None

## Loading dataset

In [77]:
data = pd.read_csv("netflixData.csv") 
data.head(10)

,Show Id,Title,Description,Director,Genres,Cast,Production Country,Release Date,Rating,Duration,Imdb Score,Content Type,Date Added
0,cc1b6ed9-cf9e-4057-8303-34577fb54477,(Un)Well,This docuseries takes a deep dive into the luc...,NaN,Reality TV,NaN,United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
1,e2ef4e91-fb25-42ab-b485-be8e3b23dedb,#Alive,"As a grisly virus rampages a city, a lone man ...",Cho Il,"Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",South Korea,2020.0,TV-MA,99 min,6.2/10,Movie,"September 8, 2020"
2,b01b73b7-81f6-47a7-86d8-acb63080d525,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Sabina Fedeli, Anna Migotto","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Italy,2019.0,TV-14,95 min,6.4/10,Movie,"July 1, 2020"
3,b6611af0-f53c-4a08-9ffa-9716dc57eb9c,#blackAF,Kenya Barris and his family navigate relations...,NaN,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",United States,2020.0,TV-MA,1 Season,6.6/10,TV Show,NaN
4,7f2d4170-bab8-4d75-adc2-197f7124c070,#cats_the_mewvie,This pawesome documentary explores how our fel...,Michael Margolis,"Documentaries, International Movies",NaN,Canada,2020.0,TV-14,90 min,5.1/10,Movie,"February 5, 2020"
5,c293788a-41f7-49a3-a7fc-005ea33bce2b,#FriendButMarried,"Pining for his high school crush for years, a ...",Rako Prijanto,"Dramas, International Movies, Romantic Movies","Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Indonesia,2018.0,TV-G,102 min,7.0/10,Movie,"May 21, 2020"
6,0555e67e-f624-4a05-93e4-55c117d0056d,#FriendButMarried 2,As Ayu and Ditto finally transition from best ...,Rako Prijanto,"Dramas, International Movies, Romantic Movies","Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Indonesia,2020.0,TV-G,104 min,7.0/10,Movie,"June 28, 2020"
7,c844460f-6178-4f87-929e-80816c74ca35,#realityhigh,When nerdy high schooler Dani finally attracts...,Fernando Lebrija,Comedies,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017.0,TV-14,99 min,5.1/10,Movie,"September 8, 2017"
8,8b34e0e9-7258-4e49-b799-2e7eddbd7e34,#Rucker50,This documentary celebrates the 50th anniversa...,Robert McCullough Jr.,"Documentaries, Sports Movies",NaN,United States,2016.0,TV-PG,56 min,5.1/10,Movie,"December 1, 2016"
9,6da2fc83-1546-4e9d-bf2e-9b472a059c18,#Selfie,"Two days before their final exams, three teen ...",Cristina Jacob,"Comedies, Dramas, International Movies","Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Romania,2014.0,TV-MA,125 min,5.8/10,Movie,"June 21, 2021"

In [150]:
data.isnull().sum()

Show Id                  0
Title                    0
Description              0
Director              2064
Genres                   0
Cast                   530
Production Country     559
Release Date             3
Rating                   4
Duration                 3
Imdb Score             608
Content Type             0
Date Added            1335
dtype: int64

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5967 entries, 0 to 5966
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Show Id             5967 non-null   object
 1   Title               5967 non-null   object
 2   Description         5967 non-null   object
 3   Director            3903 non-null   object
 4   Genres              5967 non-null   object
 5   Cast                5437 non-null   object
 6   Production Country  5408 non-null   object
 7   Release Date        5964 non-null   float64
 8   Rating              5963 non-null   object
 9   Duration            5964 non-null   object
 10  Imdb Score          5359 non-null   object
 11  Content Type        5967 non-null   object
 12  Date Added          4632 non-null   object
dtypes: float64(1), object(12)
memory usage: 606.1+ KB

## Recommendation System

We don't need to use all features that listed above, but we will select some from them:
1. Title
2. Description
3. Genres
4. Cast
5. Content Type

In [172]:
df = data[['Title', 'Description', 'Genres', 'Cast','Content Type']]
df.head(10)

,Title,Description,Genres,Cast,Content Type
0,(Un)Well,This docuseries takes a deep dive into the luc...,Reality TV,NaN,TV Show
1,#Alive,"As a grisly virus rampages a city, a lone man ...","Horror Movies, International Movies, Thrillers","Yoo Ah-in, Park Shin-hye",Movie
2,#AnneFrank - Parallel Stories,"Through her diary, Anne Frank's story is retol...","Documentaries, International Movies","Helen Mirren, Gengher Gatti",Movie
3,#blackAF,Kenya Barris and his family navigate relations...,TV Comedies,"Kenya Barris, Rashida Jones, Iman Benson, Genn...",TV Show
4,#cats_the_mewvie,This pawesome documentary explores how our fel...,"Documentaries, International Movies",NaN,Movie
5,#FriendButMarried,"Pining for his high school crush for years, a ...","Dramas, International Movies, Romantic Movies","Adipati Dolken, Vanesha Prescilla, Rendi Jhon,...",Movie
6,#FriendButMarried 2,As Ayu and Ditto finally transition from best ...,"Dramas, International Movies, Romantic Movies","Adipati Dolken, Mawar de Jongh, Sari Nila, Von...",Movie
7,#realityhigh,When nerdy high schooler Dani finally attracts...,Comedies,"Nesta Cooper, Kate Walsh, John Michael Higgins...",Movie
8,#Rucker50,This documentary celebrates the 50th anniversa...,"Documentaries, Sports Movies",NaN,Movie
9,#Selfie,"Two days before their final exams, three teen ...","Comedies, Dramas, International Movies","Flavia Hojda, Crina Semciuc, Olimpia Melinte, ...",Movie

We now check again if there is any null values in our new dataframe anymore.

In [173]:
df.isnull().sum()

Title             0
Description       0
Genres            0
Cast            530
Content Type      0
dtype: int64

In [174]:
df.fillna('', inplace=True)
df.isnull().sum()

Title           0
Description     0
Genres          0
Cast            0
Content Type    0
dtype: int64

In [175]:
import nltk
import re
import string
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords

nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/quynhnguyen/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [176]:
stemmer = SnowballStemmer(language='english')
stop_words = set(stopwords.words('english'))

In [177]:
def clean(text):
    text = str(text).lower() 
    text = str(text).lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    text = [word for word in text.split(' ') if word not in stop_words]
    text=" ".join(text)
    text = [stemmer.stem(word) for word in text.split(' ')]
    text=" ".join(text)
    return text

In [178]:
df['Description'] = df['Description'].apply(clean)
df['Cast'] = df['Cast'].apply(clean)
df['Genres'] = df['Genres'].apply(clean)
df

,Title,Description,Genres,Cast,Content Type
0,(Un)Well,docuseri take deep dive lucrat well industri t...,realiti tv,,TV Show
1,#Alive,grisli virus rampag citi lone man stay lock in...,horror movi intern movi thriller,yoo ahin park shinhy,Movie
2,#AnneFrank - Parallel Stories,diari ann frank stori retold alongsid five hol...,documentari intern movi,helen mirren gengher gatti,Movie
3,#blackAF,kenya barri famili navig relationship race cul...,tv comedi,kenya barri rashida jone iman benson genneya w...,TV Show
4,#cats_the_mewvie,pawesom documentari explor felin friend becam ...,documentari intern movi,,Movie
...,...,...,...,...,...
5962,الف مبروك,wed day arrog greedi account experi seri calam...,comedi drama intern movi,ahm helmi laila ezz el arab mahmoud el fishawi...,Movie
5963,دفعة القاهرة,group women leav kuwait attend univers cairo e...,intern tv show tv drama,bashar alshatti fatima al safi maram balochi h...,TV Show
5964,海的儿子,two brother start new life singapor run childh...,intern tv show tv drama,li nanx christoph lee jesseca liu appl hong je...,TV Show
5965,반드시 잡는다,peopl town start turn dead grumpi landlord vis...,drama intern movi thriller,baek yoonsik,Movie
5966,최강전사 미니특공대 : 영웅의 탄생,miniforc special task forc elit ranger take li...,children famili movi,um sanghyun yang jeonghwa jeon taeyeol shin yo...,Movie

In [179]:
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [180]:
temp_table = df['Title']
df['temp_column'] = df[["", "Duration"]].apply("-".join, axis=1)

0                            (Un)Well
1                              #Alive
2       #AnneFrank - Parallel Stories
3                            #blackAF
4                    #cats_the_mewvie
                    ...
5962                        الف مبروك
5963                     دفعة القاهرة
5964                             海的儿子
5965                          반드시 잡는다
5966              최강전사 미니특공대 : 영웅의 탄생
Name: Title, Length: 5967, dtype: object

In [115]:
feature = df["Genres"].tolist()
tfidf = text.TfidfVectorizer(input=feature, stop_words="english")
tfidf_matrix = tfidf.fit_transform(feature)
similarity = cosine_similarity(tfidf_matrix, tfidf_matrix)

In [116]:
final_df = data[['Title', 'Content Type']]
indices = pd.Series(final_df.index, index=final_df['Title']).drop_duplicates()

In [140]:
def recommendation(title, result=10, threshold=0.5):
    index = indices[title]
    similarity_scores = list(enumerate(similarity[index]))
    final_df['Similarity'] = similarity[idx]
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)[0:result+1]
    movieindices = [i[0] for i in similarity_scores]
    rec = final_df.iloc[movieindices]
    
    movies = rec['Title'][rec['Content Type'] == 'Movie']
    tv_shows = rec['Title'][rec['Content Type'] == 'TV Show']
    
    if len(movies) != 0:
        print('Similar Movie(s) list:')
        for i, movie in enumerate(movies):
            print('{}. {}'.format(i+1, movie))
        print()
    else:
        print('Similar Movie(s) list:')
        print('-\n')
        
    if len(tv_shows) != 0:
        print('Similar TV_show(s) list:')
        for i, tv_show in enumerate(tv_shows):
            print('{}. {}'.format(i+1, tv_show))
    else:
        print('Similar TV_show(s) list:')
        print('-')

In [141]:
recommendation('#Alive')

Similar Movie(s) list:
1. #Alive
2. Aaviri
3. Andhaghaaram
4. Andhakaaram
5. Apostle
6. Game Over (Hindi Version)
7. Game Over (Tamil Version)
8. Game Over (Telugu Version)
9. Ghost Lab
10. Ghost Stories
11. HOMUNCULUS

Similar TV_show(s) list:
-

/var/folders/q8/7_bcjdfn2n9cmr9k43lhs9w00000gn/T/ipykernel_6278/935340058.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Similarity'] = similarity[idx]

In [119]:
recommendation('Stranger Things')

Similar Movie(s) list:
-

Similar TV_show(s) list:
1. Nightflyers
2. Chilling Adventures of Sabrina
3. The Vampire Diaries
4. The OA
5. The 4400

/var/folders/q8/7_bcjdfn2n9cmr9k43lhs9w00000gn/T/ipykernel_6278/3807866387.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['similarity'] = similarity[idx]